<!--
  Generated template for the Interactions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<ion-buttons start>
	  	<button ion-button icon-only menuToggle>
	  		<ion-icon name="menu"></ion-icon>
	  	</button>
	  </ion-buttons>
	  <ion-buttons end>
    	<button ion-button icon-only (click)="logOut()">
    		<ion-icon name="log-out"></ion-icon>
    	</button>
    </ion-buttons>
    <ion-title><span style = "color:red !important">MED</span> MEN</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
    <ion-list-header>
    Selected Drugs
  </ion-list-header>
        <ion-item-sliding *ngFor="let drug of addedDrugs">
            <ion-item>
                {{drug}}
            </ion-item>
            <ion-item-options side="right">
                <button danger (click)="deleteItem($event, drug)">Delete</button>
            </ion-item-options>
            <ion-item-options side="left">
                <button danger (click)="saveItem($event, drug)">Save</button>
            </ion-item-options>
        </ion-item-sliding>
</ion-list>


	<ion-searchbar
  [(ngModel)]="drugSearch" 
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
<ion-list *ngIf="showList">
    <button ion-item *ngFor="let item of drugsName" (click)="itemTapped($event, item)">
 {{ item }}
    </button>
  </ion-list>
  <ion-card *ngIf="showInteractions">
    <ion-card-header>
    {{interactionExist}}
  </ion-card-header>
  <ion-card-content *ngFor="let item of interactionString; let severity of severityString">
    {{item}}
    <p *ngIf="severity=='N/A'?true:false">severity</p>
  </ion-card-content>
    </ion-card>
  <button button-round-border-radius ion-button full round (click)="findClicked()">Find Interaction</button>

</ion-content>
